@media (max-width: 1024px) {
	.container-general {
		position: relative;
		top: 0px;
	}

	.container-general-cards-amigos {
		text-align: center;
	}

	.container-cards-amigos {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 20px;
	}

	.card-amigos {
		display: flex;
		flex-direction: column;
	}

	.renders-card {
		min-height: 100px;
		flex-direction: column;
	}
}

@media (max-width: 1290px) {
	.card-amigos {
		display: flex;
		flex-direction: column;
	}

	.renders-card {
		min-height: 100px;
		flex-direction: column;
	}
}