@media (max-width: 1023px) {
	.lg\:block {
		display: none;
	}
}

.barra-amigos-container {
	display: none;
}

@media (max-width: 1023px) {
	.barra-amigos-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		/* Mostrar en pantallas de 1023px o m치s */
	}
}

@media screen and (max-width: 390px) {
	.container-datos-user-publicacion {
		flex-direction: column;
	}
}

/* Solo activa la animaci칩n de subir y bajar cuando el bot칩n est치 en hover */
.group:hover .animate-hover-move {
	animation: hover-move 1s ease-in-out infinite;
}